<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConfigVersion" value="2" />
    <add key="InputFormat" value="XBox (Xen)" />
    <add key="PakFilename" value="D:\GuitarHeroCustom\TestPaks\xen(Xbox)\GH5_PAK\qb.pak.xen" />
    <add key="PabFilename" value="D:\GuitarHeroCustom\TestPaks\xen(Xbox)\GH5_PAK\qb.pab.xen" />
    <add key="DebugFilename" value="D:\GuitarHeroCustom\TestPaks\xen(Xbox)\GH5_PAK\dbg.pak.xen" />
    <add key="Backup" value="False" />
    <add key="LastQbReplacePath" value="" />
    <add key="LastQbExtractPath" value="D:\" />
    <add key="LastScriptPath" value="" />
    <add key="ScriptActiveTab" value="2" />
    <add key="PakListColPositions" value="0,1,2,3" />
    <add key="PakListColWidths" value="157,291,113,70" />
    <add key="PakListSort" value="0,1" />
    <add key="SearchListColPositions" value="0,1,3,2" />
    <add key="SearchListColWidths" value="184,344,112,103" />
    <add key="SearchListSort" value="0,1" />
    <add key="QbListColPositions" value="0,1,2,3,4" />
    <add key="QbListColWidths" value="220,121,113,49,94" />
    <add key="WindowInfo" value="148,134,1133,598,0" />
    <add key="PakSplitterPosition" value="58.10206" />
    <add key="SearchSplitterPosition" value="31.51298" />
    <add key="QbSplitterPosition" value="58.10206" />
  </appSettings>
</configuration>